<ion-header>
 	<ion-navbar>
		<ion-title *ngIf="article">{{article.title}}</ion-title>
 	</ion-navbar>
</ion-header>

<ion-content #xcontent (ionScrollStart)="onStart()" (ionScrollEnd)="onEnd()">
	<div class="article-detail" *ngIf="article">
        <div class="main">
            <div class="title">
                <h4 class="color-black">{{ article.title }}</h4>
                <div class="info margin-top-10">
                    <span class="cicon-calendar">{{article.createTime | dateFormat:'yyyy-MM-dd'}}</span>
                    <span class="cicon-map-marker">{{article.category && article.category.name}}</span>
                    <span class="cicon-eye-open">{{article.readNum | transNum}} Views</span>
                    <span class="cicon-tag">{{article.tag && article.tag.name}}</span>
                    <a href="javascript:;" (click)="likeClick()" class="cicon-heart" [ngClass]="{'active':isLiked}">{{article.likeNum | transNum}}</a>
                </div>
            </div>
            <p class="preview">
                {{article.previewText}}
            </p>
            <div class="content markdown-body" [innerHTML]="article.content">
            </div>
            <div class="others" #xothers id="x-others">
                <a href="javascript:;" (click)="goCommentPage()">评论</a>
                <a *ngIf="prevID" (click)="getArticleDetail(prevID)">前篇</a>
                <a *ngIf="nextID" (click)="getArticleDetail(nextID)">后篇</a>
                <a href="javascript:;" (click)="likeClick()" [ngClass]="{'is-liked':isLiked}">点赞</a>
            </div>
        </div>
    </div>
</ion-content>
