<!-- Generated template for the TabsComponent component -->
<div class="best-tabs">
	<div class="best-tabsbar">
		<a class="best-tabbar-btn active">全部</a>
		<a class="best-tabbar-btn">前端</a>
		<a class="best-tabbar-btn">后台</a>
		<span class="best-tabsbar-line"></span>
	</div>
	<div class="best-tabs-content">
		<ion-slides [pager]="false">
		  <ion-slide style="background-color: green">
		    <h2>Slide 1</h2>
		  </ion-slide>

		  <ion-slide style="background-color: blue">
		    <h2>Slide 2</h2>
		  </ion-slide>

		  <ion-slide style="background-color: red">
		    <h2>Slide 3</h2>
		  </ion-slide>

		</ion-slides>
	</div>
</div>
