<!-- Generated template for the TabsComponent component -->
<div class="best-tabs">
	<div class="best-tabsbar" id="scroll" scroll  #toolbar>
		<ul>
			<li>1</li>
			<li>1</li>
			<li>1</li>
			<li>1</li>
			<li>1</li>
			<li>1</li>
		</ul>
		<span class="best-tabsbar-line"></span>
	</div>
	<div class="best-tabs-content">
		<ion-slides [pager]="false" #slidesContent (ionSlideDidChange)="onSlideChanged()">
		  <ion-slide style="background-color: green" *ngFor="let item of globalService.categoryList">
		    <h2>{{item.name}}</h2>
		  </ion-slide>
		</ion-slides>
	</div>
</div>
<!-- <li class="best-tabbar-btn" *ngFor="let item of globalService.categoryList">{{item.name}}</li> -->