.best-tabs {
	height:100%;
}
.best-tabs .best-tabsbar{
	height:40px;
	position:relative;
}
.best-tabs .best-tabsbar a{
	display:inline-block;
	height:40px;
	float:left;
	padding:0 10px;
	color:#2b4356;
	line-height:40px;
}
.best-tabs .best-tabsbar a.active{
	color:#1abc9c;
}
.best-tabs .best-tabsbar .best-tabsbar-line{
	position:absolute;
	height:2px;
	background:#1abc9c;
	left:0;
	bottom:0;
	transform:translate3d(0,0,0);
	display:block;
	width:80px;
	transition: all 300ms cubic-bezier(0.35, 0, 0.25, 1);
	z-index:10;
}

.best-tabs .best-tabs-content{
	height:calc(100% - 40px);
}



#scroll {
	height:40px;
	z-index: 1;
	width: 100%;
	background: #ccc;
	position:relative;
	overflow: hidden;
}

#scroll .best-tabsbar {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 720px;
	height: 100%;
	background-color: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroll .best-tabsbar  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroll .best-tabsbar  li {
	display: block;
	float: left;
	line-height:40px;
	width:80px;
	height: 100%;
	font-size: 14px;
}