page-message {

}
.message{
	width:300px;
	margin:20px auto;
	font-family: 'Microsoft Yahei'
}
.message h4{
	font-weight: normal;
	margin: 20px auto 10px auto;
}
.message .button{
	width:100%;
	margin-top:20px;
}
.message input{
	padding: 10px;
    border: none;
    width: 100%;
    background: #fff;
    height: 40px;
    font-size: 14px;
    // text-indent: 20px;
    border:1px solid #1ABC9C;
    text-align: left;
    box-shadow: none;
}
.message textarea{
	width:100%;
	height:100px;
	resize:none;
	background: #fff;
	border:none;
	outline: none;
	padding:10px;
	margin-top:2px;
    border:1px solid #1ABC9C;
    box-shadow: none;
}
.message button{
	width:100%;
	height:50px;
	outline: none;
	font-family: 'Mirosoft Yahei';
	border:none;
	background: #1ABC9C;
	color:#fff;
	cursor: pointer;
}