<ion-header>
 	<ion-navbar>
		<ion-title>评论({{total}})</ion-title>
 	</ion-navbar>
</ion-header>

<ion-content padding-horizontal>
    <ion-refresher (ionRefresh)="onRefreshCall($event)"> 
        <ion-refresher-content
            pullingIcon="arrow-round-down"
            refreshingSpinner="ios"
        > 
        </ion-refresher-content>
    </ion-refresher>
	<div class="article-detail">
        <div class="main">
            <div class="comment">
                <div class="comment-list" *ngIf="commentList && commentList.length">
                    <div class="comment-item"  *ngFor="let item of commentList">
                        <a :name="item._id"></a>
                        <div class="favor">
                            <a href="javascript:;" class="cicon-sort-up up" (click)="setCommentLike(true, item)"></a>
                            <span>{{item.likeNum}}</span>
                            <a href="javascript:;" class="cicon-sort-down down" (click)="setCommentLike(false, item)"></a>
                        </div>
                        <div class="cont">
                            <h4 class="title text-left">
                                {{item.createLog.createName}}：
                            </h4>
                            <p *ngIf="!!item.parentComment" class="quote">@{{item.parentComment.createLog.createName}}：<span [innerHTML]="filterHtml(item.parentComment.content)"></span></p>
                            <p class="text text-left color-black margin-top-5 curr-text" [innerHTML]="filterHtml(item.content)"></p>
                            <div class="operate text-left margin-top-10">
                                <a class="color-gray font-12 icon-time">{{item.createLog.createTime | dateDesc}}</a>
                                <a href="javascript:;" class="text-left color-gray font-12 icon-comment" (click)="replyClick(item)">回复</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center margin-top-30 color-black font-12" *ngIf="!commentList || !commentList.length">暂无评论</p>
            </div>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="onLoadMoreCall($event)" [enabled]="isMore" threshold="50px"> 
       <ion-infinite-scroll-content
            loadingSpinner="ios"
        > 
        </ion-infinite-scroll-content> 
    </ion-infinite-scroll>
</ion-content>
<div class="commentbar">
    <a class="commentbar-placeholder cicon-edit" (click)="replyClick()">期待你的神评论</a>
</div>
