// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ion-ios-home-blog, .ion-ios-home-blog-outline, .ion-md-home-blog, .ion-md-home-blog-outline {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	width: 26px !important;
  	height: 26px !important;
  	min-width: 26px !important;
  	line-height:26px !important;
  	font-size:20px !important;

}

.ion-ios-home-blog:before, .ion-ios-home-blog-outline:before, .ion-md-home-blog:before, .ion-md-home-blog-outline:before {
  	content: '\f1dc';
}

.ion-ios-about-blog, .ion-ios-about-blog-outline, .ion-md-about-blog, .ion-md-about-blog-outline {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	width: 26px !important;
  	height: 26px !important;
  	min-width: 26px !important;
  	line-height:26px !important;
  	font-size:20px !important;

}

.ion-ios-about-blog:before, .ion-ios-about-blog-outline:before, .ion-md-about-blog:before, .ion-md-about-blog-outline:before {
  	content: '\f031';
}


.ion-ios-message-blog, .ion-ios-message-blog-outline, .ion-md-message-blog, .ion-md-message-blog-outline {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	width: 26px !important;
  	height: 26px !important;
  	min-width: 26px !important;
  	line-height:26px !important;
  	font-size:20px !important;

}

.ion-ios-message-blog:before, .ion-ios-message-blog-outline:before, .ion-md-message-blog:before, .ion-md-message-blog-outline:before {
  	content: '\f032';
}
