// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ion-ios-home-blog, .ion-ios-home-blog-outline, .ion-md-home-blog, .ion-md-home-blog-outline {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	width: 26px !important;
  	height: 26px !important;
  	min-width: 26px !important;
  	line-height:26px !important;
  	font-size:20px !important;

}

.ion-ios-home-blog:before, .ion-ios-home-blog-outline:before, .ion-md-home-blog:before, .ion-md-home-blog-outline:before {
  	content: '\f1dc';
}

.ion-ios-about-blog, .ion-ios-about-blog-outline, .ion-md-about-blog, .ion-md-about-blog-outline {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	width: 26px !important;
  	height: 26px !important;
  	min-width: 26px !important;
  	line-height:26px !important;
  	font-size:20px !important;

}

.ion-ios-about-blog:before, .ion-ios-about-blog-outline:before, .ion-md-about-blog:before, .ion-md-about-blog-outline:before {
  	content: '\f031';
}


.ion-ios-message-blog, .ion-ios-message-blog-outline, .ion-md-message-blog, .ion-md-message-blog-outline {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	width: 26px !important;
  	height: 26px !important;
  	min-width: 26px !important;
  	line-height:26px !important;
  	font-size:20px !important;

}

.ion-ios-message-blog:before, .ion-ios-message-blog-outline:before, .ion-md-message-blog:before, .ion-md-message-blog-outline:before {
  	content: '\f032';
}

.tabs-ios .tab-button, .tabs-md .tab-button, .tabs-ios .tab-button-icon, .tabs-md .tab-button-icon{
  color:#2b4356
}

@font-face {
  font-family: 'rancho';
  src: url('../../font/Rancho-Regular.ttf');
}
* {
    /*color: #333;*/
    box-sizing: border-box;
    font-size: 14px;
    /*删除ios滑动出现覆盖的情况。。。。太多的浮夸，只为证明我来过。*/
    -webkit-overflow-scrolling:touch !important;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0.1) !important;
}
input, textarea{
    /*去除iosinput阴影*/
    -webkit-appearance: none !important;
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
}
html,body,ul,img,p,h1,h2,h3,h4,h5,h6,li{
    margin:0;
    padding:0;
}
ul,li{

}
a {
    text-decoration: none;
}
button,input,select{
    outline: none;
    border:1px solid #ddd;
    background:none;
}
.font-bold{
    font-weight:bold;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.font-28 {
    font-size: 28px;
}
.font-30 {
    font-size: 30px;
}
.font-36 {
    font-size: 36px;
}
.font-40 {
    font-size: 40px;
}
.font-80 {
    font-size: 80px;
}
.color-green {
    color: #1ABC9C;
}
.color-blue{
    color:#3599DD;
}
.color-black{
    color:#2B4356;
}
.color-red{
    color:#E24C3C;
}
.color-white{
    color:#fff;
}
.color-gray{
    color:#999 !important;
}
.bg-green{
    background:#1ABC9C !important;
}
.bg-blue{
    background:#3599DD !important;
}
.bg-red{
    background:#E24C3C !important;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.margin-top-10{
    margin-top:10px;
}
.margin-top-20{
    margin-top:20px;
}
.margin-top-30{
    margin-top:30px;
}
.margin-top-5{
    margin-top:5px;
}
.margin-top-15{
    margin-top:15px;
}

.margin-top-20{
    margin-top:20px !important;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom:30px;
}
.margin-0-5{
    margin:0 5px;
}
.margin-0-10{
    margin:0 10px;
}
.padding-20-0{
    padding:20px 0;
}
.padding-bottom-20{
    padding-bottom:20px;
}
.padding-left-10{
    padding-left:10px;
}
.padding-right-10{
    padding-right:10px;
}
.padding-0{
    padding:0 !important;
}
.padding-10{
    padding:10px !important;
}
.all-hide{

}
.no-border{
    border:none !important;
}
.border-top-1{
    border-top:1px solid #eee;
}
@media (max-width:768px){
    .sm-show{
        display: block !important;
    }
    .sm-hide{
        display: none !important;
    }
    .sm-50{
        width:50%;
    }
    .sm-20{
        width:20%;
    }
    .sm-100{
        width:100%;
    }

}
@media (min-width:768px){
    .md-show{
        display: block !important;
    }
    .md-hide{
        display: none !important;
    }
    .md-20{
        width:20%;
    }
    .md-50{
        width:50%;
    }
    .md-100{
        width:100%;
    }
}


/* 后退时的状态，从左开始 */
.fadeInLeft-enter{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);

}
.fadeInLeft-enter-active{
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    /* 不需要添加一下代码，会自动设置为正常正常状态 */
/*    transform: translateX(0%);
    -webkit-transform: translateX(0%);*/
    opacity: 1;
}
.fadeInLeft-leave{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
.fadeInLeft-leave-active{
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 200ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 200ms;
    transform: translateX(-100%);
    opacity: .0;
    -webkit-transform: translateX(-100%);
}
@media screen and (max-width:768px){
    .fadeInLeft-leave-active{
        opacity: .5
    }
}

/* 前进时的初始值状态，从右开始 */
.fadeInRight-enter{
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
/* 从初始值状态到完成进入状态，不需要，也不能设置translate值，因为默认值就是目的位置，只需要设置过渡到时间即可 */
.fadeInRight-enter-active{
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
}
/* 离开时的初始值状态 可以设置某些值，例如设置起始位置*/
.fadeInRight-leave{
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
}

/* 从离开初始值状态进入完成离开状态 */
.fadeInRight-leave-active{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    opacity: 0;
}

/* 同级路由切换 */
.fade-enter, .fade-leave{
    opacity: 0;


}
.fade-enter-active, .fade-leave-active{
    transition: opacity cubic-bezier(0.36, 0.66, 0.04, 1) .3s;
    -webkit-transition: opacity cubic-bezier(0.36, 0.66, 0.04, 1) .3s;
}


html, body, #app{
    width:100%;
    // height:100%;
    font-family: "Microsoft Yahei" !important;
    overflow-x: hidden;
    background:#f6f6f6;
}


.router-view {
    position: relative;
    // top: 0;
     // padding:0 10px;
    padding-top:69px;
    // left: 0;
    // bottom:0;
    // right: 0;

    // overflow-y: scroll;
    overflow-x: hidden;
     transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 200ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 200ms;
}
.router-view.has-notify{
    padding-top:100px;
}
.moveup{
    animation:moveup 1s ease-in-out ;
    -webkit-animation:moveup 1s ease-in-out;
}
@keyframes moveup{
    from{
        opacity: 0;
        transform:translate3d(0,10px,0);
        -webkit-transform:translate3d(0,10px,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
    }
}
@-webkit-keyframes moveup{
    from{
        opacity: 0.2;
        transform:translate3d(0,10px,0);
        -webkit-transform:translate3d(0,10px,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
    }
}

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px
    }
    .router-view{
        padding:0;
        padding-top:69px;
    }
    ::-webkit-scrollbar-button:vertical {
        display: none
    }
    ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 10px
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .3)
    }
    ::-webkit-scrollbar-thumb:vertical:hover {
        background-color: rgba(0, 0, 0, .35)
    }
    ::-webkit-scrollbar-thumb:vertical:active {
        background-color: rgba(0, 0, 0, .38)
    }
    .padding-left-15-xs {
        padding-left: 15px
    }
    .padding-right-15-xs {
        padding-right: 15px
    }
    .padding-left-0-sm {
        padding-left: 0
    }
    .padding-right-0-sm {
        padding-right: 0
    }
}
