comment-emoji {
	.emoji-mask{
		position: fixed;
	    width: 100%;
	    left: 0;
	    top: 0;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.2);
	    z-index: 9998;
	    transition: all .5s cubic-bezier(0.35, 0, 0.25, 1);
	}
	.emoji{
		position: fixed;
		width:calc(100% - 32px);
		padding:10px 0;
		background: #fff;
		left:16px;
		top:64px;
	    border-radius: 5px;
		display: -webkit-flex;
		justify-content:center;
		flex-wrap:wrap;
		z-index: 10000;
		box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.3);
	}
	.emoji a{
		margin:4px;
		display: block;
		cursor: pointer;
		width:32px;
		height:32px;
		box-sizing: border-box;
	}
	.emoji a:hover{
		border:1px solid #eee;
	}
}
