page-search-result {
	.hot-word .hot-word-list{
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    width: 100%;
	    margin-left: -10px;
	    padding-bottom: 10px;
	    -webkit-box-pack: start;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.hot-word .hot-word-list .hot-wrod-list-tag{
	    margin-left: 10px;
	    margin-top: 10px;
	    cursor: pointer;
	    display: block;
	    height:28px;
	    line-height:28px;
	    padding: 0 8px;
	    border-radius: 3px;
	    overflow: hidden;
	    color: #2b4356;
	    font-size: 12px;
	    border: 1px solid #1abc9c;
	    color: #1abc9c;
	}
	.searchbar-search-icon{
	}
}

